<?xml version="1.0" encoding="UTF-8"?>
<suite name="TestNG">
    <test name="BicycleTest">
        <classes>
            <class name="BicycleTest">
            </class>
        </classes>
    </test>
    <test name="BusTest">
        <classes>
            <class name="BusTest">
            </class>
        </classes>
    </test>
    <test name="CarTest">
        <classes>
            <class name="CarTest">
            </class>
        </classes>
    </test>
    <test name="OnFootTest">
        <classes>
            <class name="OnFootTest">
            </class>
        </classes>
    </test>
</suite>